In [1]:
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('covid_pre_conditions.csv')

In [2]:
df.head()

,Unnamed: 0,sex,patient_type,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,died
0,0,0,1,0,27,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,1,1,0,56,0,0,0,0,1,0,0,0,1,1,1,1,0
2,2,1,1,0,34,0,0,0,0,0,0,0,0,0,0,1,1,0
3,3,1,1,0,34,0,0,0,0,0,0,0,0,0,1,0,1,0
4,4,1,1,0,49,1,0,0,0,0,0,0,0,0,0,1,1,0

In [4]:
dataType = df.dtypes
print(dataType)

Unnamed: 0             int64
sex                    int64
patient_type           int64
pneumonia              int64
age                    int64
diabetes               int64
copd                   int64
asthma                 int64
inmsupr                int64
hypertension           int64
other_disease          int64
cardiovascular         int64
obesity                int64
renal_chronic          int64
tobacco                int64
contact_other_covid    int64
covid_res              int64
died                   int64
dtype: object

In [6]:
#Summmary Statistics
#df[["Estimate(IMF)", "Estimate(UN)", "Estimate(World Bank)"]].describe()


df.describe()

,Unnamed: 0,sex,patient_type,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,died
count,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000,346017.000000
mean,173008.000000,0.492510,0.847664,0.129306,41.465844,0.107353,0.012754,0.030204,0.012953,0.139135,0.016095,0.020002,0.158692,0.014225,0.087192,0.569238,0.403541,0.038504
std,99886.648385,0.499945,0.359347,0.335539,16.410673,0.309562,0.112210,0.171148,0.113072,0.346088,0.125840,0.140007,0.365389,0.118416,0.282117,0.495184,0.490608,0.192410
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,86504.000000,0.000000,1.000000,0.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,173008.000000,0.000000,1.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,259512.000000,1.000000,1.000000,0.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,346016.000000,1.000000,1.000000,1.000000,120.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000